@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.App {
  text-align: center;
}

.App .item-todo {
  display: inline-block;
  padding: 14px;
  min-width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

.App input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
}

.App button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  min-width: 50px;
  margin-left: 10px;
  padding: 18px 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  
  color: #fff;
  text-transform: capitalize;
}

.App .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.strike {
  text-decoration: line-through;
}

.item-delete{
  background: red;
}
.item-update{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
.item-save{
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}


.input{
  min-width: 280px;
}

.checkbox{
  transform:scale(2);
  margin-left: 10px;
}

.todo-checkbox{
  display: inline-block;
  float: right;
}

/* MODAL */

.modal{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active{
  opacity: 1;
  pointer-events: all;
}

.modal__content{
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  width: 25vw;
  transform: scale(0.5);
}
.modal__content.active{
  transform: scale(1);
}

